<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registration</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>

<body>
  <main id="main-holder">
    <h1 id="register-header">Registration</h1>
    <form id="reg-form">
        <input type="text" name="fullname" id="fullname-field" class="reg-form-field" placeholder="Full name"><p></p>
      <input type="text" name="username" id="username-field" class="reg-form-field" placeholder="Username"><p>
      <input type="password" name="password" id="password-field" class="reg-form-field" placeholder="Password"><p>
      <a href="/"> <input type="button" value="Register" id="register-form-submit"> </a>
    </form>
  </main>
</body>
</html>