<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <link rel="stylesheet" href="/static/style.css">

</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username"><p>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password"><p>
      <input type="submit" value="Login" id="login-form-submit">
      <a href="/register"> <input type="button" value="Register" id="register-form-submit"> </a>
    </form>
  </main>
</body>
</html>